*.iml
.gradle
gradle.xml
/gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
/libraries
.externalNativeBuild
.name
/4.1
/buildOutputCleanup
misc.xml
modules.xml
runConfigurations.xml
workspace.xml